// 与state.loading 配合使用

.loading-hidden{
  opacity:0;
  visibility: hidden;
}

.loading-transition{
  transition:opacity .3s ease-in-out;
}

//与ReactCSSTransitionGroup 配合使用
.page-enter {
  opacity: 0.01;
}

.page-enter.page-enter-active {
  opacity: 1;
  transition: opacity .5s ease-in;
}

.page-leave {
  max-height:0px;
  overflow:hidden;
  //opacity:1;
}

.page-leave.page-leave-active {
  //opacity: 0.01;
  //transition: opacity .1s ease-in;
}

